APP_ENV="development"
DATABASE_URL="postgresql://localhost/makers_bnb"
TEST_DATABASE_URL="postgresql://localhost/makers_bnb_test"
# Generate your own with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=""
