<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/static/assets/favicon.png">
        <link rel="stylesheet" href="/static/style.css">
        {% block head %}{% endblock %}
        <title>{% block title %}MakersBnB{% endblock %}</title>
    </head>
    <body class="flex min-h-screen flex-col bg-slate-50 text-slate-900">
        {% include "components/navbar.html" %}
        {% include "components/flash_messages.html" %}

        <div class="flex flex-1 flex-col">
            {% block content %}{% endblock %}
        </div>

        {% include "components/footer.html" %}
    </body>
</html>
